.divBody {
	width: 50%;
}

.input-text {
	width: 300px;
}

.text {
	font-size: 14px;
}
 
.item {
	margin-bottom: 18px;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both
}

.box-card {
	width: 80%;
	margin-top: 20px;
}
  
.title_but{
	width: 100%;
	background: #f3f3f3;
	position: fixed;
	top: 0;
	 z-index:99;
}