<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>设置参数</title>
    <script type="text/javascript" src="/assets/libs/main.js"></script>

    <link rel="stylesheet" href="css/set_sys_config.css?v=22" />
</head>

<body>
    <div id="appfs">
        <!-- 顶部按钮 -->
        <div class="title_but">
            <el-button type="success" @click="Save">保存</el-button>
        </div>
        <br />
        <el-form :model="form" ref="form" label-width="130px">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>CALLTHINK库数据参数</span>
                </div>
                <el-form-item label="服务器名称/地址" prop="data_host"
                    :rules="[{ required: true, message: '请输入服务器名称/地址', trigger: 'blur' }]">
                    <el-input v-model="form.data_host" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="数据库名称">
                    <el-input v-model="form.data_base" class="input-text"></el-input> <span style="color:red;">(*
                        oracle数据库此项必须为空)</span>
                </el-form-item>
                <el-form-item label="账号" prop="data_uid"
                    :rules="[{ required: true, message: '请输入账号', trigger: 'blur' }]">
                    <el-input v-model="form.data_uid" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="data_pwd"
                    :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                    <el-input type="password" v-model="form.data_pwd" class="input-text"></el-input>
                </el-form-item>
            </el-card>

             <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>CRM库数据参数</span>
                </div>
                <el-form-item label="服务器名称/地址" prop="data_host_crm"
                    :rules="[{ required: true, message: '请输入服务器名称/地址', trigger: 'blur' }]">
                    <el-input v-model="form.data_host_crm" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="数据库名称">
                    <el-input v-model="form.data_base_crm" class="input-text"></el-input><span style="color:red;">(*
                        oracle数据库此项必须为空)</span>
                </el-form-item>
                <el-form-item label="账号" prop="data_uid_crm"
                    :rules="[{ required: true, message: '请输入账号', trigger: 'blur' }]">
                    <el-input v-model="form.data_uid_crm" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="data_pwd_crm"
                    :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                    <el-input type="password" v-model="form.data_pwd_crm" class="input-text"></el-input>
                </el-form-item>
            </el-card> 

            <!-- <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>CDR库数据参数</span>
                    <hr/>
                </div>
                <el-form-item label="服务器名称/地址" prop="data_host_cdr" :rules="[{ required: true, message: '请输入服务器名称/地址', trigger: 'blur' }]">
                    <el-input v-model="form.data_host_cdr" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="数据库名称" >
                    <el-input v-model="form.data_base_cdr" class="input-text"></el-input><span style="color:red;">(* oracle数据库此项必须为空)</span>
                </el-form-item>
                <el-form-item label="账号" prop="data_uid_cdr" :rules="[{ required: true, message: '请输入账号', trigger: 'blur' }]">
                    <el-input v-model="form.data_uid_cdr" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="data_pwd_cdr" :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                    <el-input type="password" v-model="form.data_pwd_cdr" class="input-text"></el-input>
                </el-form-item>
            </el-card> -->

            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>标准录音库参数</span>
                </div>
                <el-form-item label="服务器名称/地址" prop="data_host_talentellog"
                    :rules="[{ required: true, message: '请输入服务器名称/地址', trigger: 'blur' }]">
                    <el-input v-model="form.data_host_talentellog" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="数据库名称">
                    <el-input v-model="form.data_base_talentellog" class="input-text"></el-input><span
                        style="color:red;">(*oracle库此项为空)</span>
                </el-form-item>
                <el-form-item label="账号" prop="data_uid_talentellog"
                    :rules="[{ required: true, message: '请输入账号', trigger: 'blur' }]">
                    <el-input v-model="form.data_uid_talentellog" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="data_pwd_talentellog"
                    :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                    <el-input type="password" v-model="form.data_pwd_talentellog" class="input-text">
                    </el-input>
                </el-form-item>
            </el-card>

            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>交换机库参数</span>
                </div>
                <el-form-item label="服务器名称/地址" prop="data_host_pbx"
                    :rules="[{ required: true, message: '请输入服务器名称/地址', trigger: 'blur' }]">
                    <el-input v-model="form.data_host_pbx" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="数据库名称">
                    <el-input v-model="form.data_base_pbx" class="input-text"></el-input><span
                        style="color:red;">(*oracle库此项为空)</span>
                </el-form-item>
                <el-form-item label="账号" prop="data_uid_pbx"
                    :rules="[{ required: true, message: '请输入账号', trigger: 'blur' }]">
                    <el-input v-model="form.data_uid_pbx" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="data_pwd_pbx"
                    :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                    <el-input type="password" v-model="form.data_pwd_pbx" class="input-text">
                    </el-input>
                </el-form-item>
            </el-card>

            <!-- <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>RPT库数据参数</span>
                    <hr/>
                </div>
                <el-form-item label="服务器名称/地址" prop="data_host_rpt" :rules="[{ required: true, message: '请输入服务器名称/地址', trigger: 'blur' }]">
                    <el-input v-model="form.data_host_rpt" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="数据库名称">
                    <el-input v-model="form.data_base_rpt" class="input-text"></el-input><span style="color:red;">(* oracle数据库此项必须为空)</span>
                </el-form-item>
                <el-form-item label="账号" prop="data_uid_rpt" :rules="[{ required: true, message: '请输入账号', trigger: 'blur' }]">
                    <el-input v-model="form.data_uid_rpt" class="input-text"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="data_pwd_rpt":rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                    <el-input type="password" v-model="form.data_pwd_rpt" class="input-text"></el-input>
                </el-form-item>
	            
            </el-card> -->

        </el-form>
    </div>
</body>
<script>
    let vData = {
        form: {
            data_host: "",
            data_base: "",
            data_uid: "",
            data_pwd: "",

            data_host_crm: "",
            data_base_crm: "",
            data_uid_crm: "",
            data_pwd_crm: "",

            data_host_cdr: "",
            data_base_cdr: "",
            data_uid_cdr: "",
            data_pwd_cdr: "",

            data_host_rpt: "",
            data_base_rpt: "",
            data_uid_rpt: "",
            data_pwd_rpt: "",
            //标准录音库
            data_host_talentellog: "",
            data_base_talentellog: "",
            data_uid_talentellog: "",
            data_pwd_talentellog: "",
            //交换机库
            data_host_pbx: "",
            data_base_pbx: "",
            data_uid_pbx: "",
            data_pwd_pbx: ""
        }
    };
    //创建vue
    let VM = new Vue({
        el: '#appfs',
        data: vData,
        methods: {
            Save() {
                this.$confirm('确认保存数据库连接信息吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$refs['form'].validate((valid) => {
                        if (valid) {
                            saveData();
                        } else {
                            return false;
                        }
                    });
                });
            }
        }
    })

    function saveData() {
        var vJsonData = { "DATA": JSON.stringify(vData.form) };
        axios.post("/ut_admin/set_config/DataBase", vJsonData)
            .then(function (response) {
                let result = response.data;
                if (result.indexOf("OK") == 0) {
                    vueAlter(result);
                    getData();
                }
                else {
                    vueAlter(result, 1);
                }
            })
            .catch(function (error) {
                console.log(error);
            });

    }

    $(function () {
        getData();
    })

    //读取信息
    function getData() {
        axios.get("/ut_admin/get_config/DataBase")
            .then(function (response) {
                let jnData = response.data;
                if (jnData.RET == "FAIL") {
                    vueAlter(jnData.data, 1);
                }
                else {
                    vData.form = JSON.parse(jnData.data);
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }


    //提示
    function vueAlter(vData, nType) {
        if (nType == 1) {
            VM.$notify.error({
                title: '错误',
                message: vData,
                duration: 1000 * 3
            });
        }
        else {
            VM.$notify({
                title: '成功',
                message: vData,
                type: 'success'
            });
        }
    }
</script>

</html>